.main {
  display: block;
  background-color: #9d9d9d;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}

.nav-bar {
  display: block;
  background-color: #333333;
  width: 100%;
}

.nav-bar img {
}

.nav-bar h1 {
  color: white;
}

.products-list {
  display: inline-block;
}

.product-item {
  display: inline-block;
}

.product-image {
  height: 300px;
  width: auto;
}

.product-title {
}

.product-price {
}
